{%- liquid
	if settings.page_layout
		assign isBoxed = true
	endif
-%}

{%- if settings.article_enable_sidebar -%}

  {%- capture article_sidebar -%}
    <div class="col-3">
      {%- section 'sidebar-blog' -%}
    </div>
  {%- endcapture -%}
  {%- assign col_9 = 'col-lg-9' -%}
{%- endif -%}

<div class="page page-article">
	<div class="page_wrapper">
		{%- if isBoxed -%} <div class="container"> {%- endif -%}
      <div class="row">
        {%- case template.suffix -%}
					{%- when 'no-sidebar' -%}
						<div class="col-12">
							{%- section 'article-template' -%}
						</div>

          {%- when 'left-sidebar' -%}
						{{article_sidebar}}

						<div class="col-12 {{col_9}}">
							{%- section 'article-template' -%}
						</div>
					{%- else -%}
						<div class="col-12 {{col_9}}">
							{%- section 'article-template' -%}
						</div>

						{{article_sidebar}}
        {%- endcase -%}
      </div>
		{%- if isBoxed -%} </div> {%- endif -%}
	</div>
</div>

<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "BlogPosting",
		"mainEntityOfPage": "{{ article.url }}",
		"articleSection": {{ blog.title | json }},
		"keywords": "{{ article.tags | join: ', ' }}",
		"headline": {{ article.title | json }},
		"description": {{ article.excerpt_or_content | strip_html | truncatewords: 25 | json }},
		"dateCreated": "{{ article.created_at | date: '%Y-%m-%dT%T' }}",
		"datePublished": "{{ article.published_at | date: '%Y-%m-%dT%T' }}",
		"dateModified": "{{ article.published_at | date: '%Y-%m-%dT%T' }}",
		"image": {
			"@type": "ImageObject",
			"url": "https:{{ article.image | img_url: '1024x' }}",
			"image": "https:{{ article.image | img_url: '1024x' }}",
			"name": {{ article.image.alt | json }},
			"width": "1024",
			"height": "1024"
		},
		"author": {
			"@type": "Person",
			"name": "{{ article.user.first_name | escape }} {{ article.user.last_name | escape }}",
			"givenName": {{ article.user.first_name | json }},
			"familyName": {{ article.user.last_name | json }}
		},
		"publisher": {
			"@type": "Organization",
			"name": {{ shop.name | json }}
		},
		"commentCount": {{ article.comments_count }},
		"comment": [
			{%- for comment in article.comments limit: 5 -%}
				{
					"@type": "Comment",
					"author": {{ comment.author | json }},
					"datePublished": "{{ comment.created_at | date: '%Y-%m-%dT%T' }}",
					"text": {{ comment.content | json }}
				}{%- unless forloop.last -%},{%- endunless -%}
			{%- endfor -%}
		]
	}
</script>

