{%- liquid
	if settings.page_layout == 'boxed'
		assign isBoxed = true
	endif
	if collection_template == blank
		assign collection_template = settings.collection_page
	endif
-%}
{% comment %}
	{%- capture collectionTitle -%}
			{%- if settings.breadcrumb_bg_img == blank -%}
					<div class="page-heading">
							<div class="collection-title" data-dynamic-content="collectionTitle">
									{%- if current_tags -%}
											<h1>{{ collection.title }}/{{current_tags | join: '/'}}</h1>
											<small>({{ collection.products_count  }})</small>
									{%- else -%}
											<h1>{{ collection.title }}</h1>
											<small>({{ collection.all_products_count }})</small>
									{%- endif -%}
							</div>
					</div>
			{%- endif -%}
	{%- endcapture -%}
{% endcomment %}



{%- comment -%}
	**
	*	1: Left Sidebar
	*	2: No Sidebar
	*	3: Infinite
	*
{%- endcomment-%}

{%- capture filter_container -%}
	{%- if settings.enable_collection_filter -%}
		{%- style -%}
			#filter-collection .filter-wrapper{background: {{settings.collection_filter_bg_color}};}
			#filter-collection .js-btn-reset {color: {{settings.collection_filter_text_color}};}
		{%- endstyle -%}
		<div class="filter" id="filter-collection">
			<div class="filter-wrapper">
				<div class="tabs-content">
					<div class="tabs-content_item active">
						<div class="tabs-content_wrapper">
							{%- render 'filter-snippet' section: collection -%}
						</div>
					</div>
				</div>
			</div>
		</div>
	{%- endif -%}
{%- endcapture -%}

{%- case collection_template -%}
	{%- when 'left-sidebar' -%}
		<div class="container-wrapper">
			{{filter_container}}
			{%- if isBoxed -%}<div class="container">{%- endif -%}
				<div class="layout-grid layout-grid--{{collection_template}} d-grid" data-section-id="{{collection.id}}" data-section-type="collection-left-sidebar">
					{%- section 'collection-sidebar' -%}

					<div id="main-layout">
						{%- section 'collection-template' -%}
					</div>
				</div>
			{%- if isBoxed -%}</div>{%- endif -%}
		</div>
	{% comment %} end {% endcomment %}

	{%- when 'right-sidebar' -%}
		<div class="container-wrapper">
          <h1>heading</h1>
			{{filter_container}}
			{%- if isBoxed -%}<div class="container">{%- endif -%}
				<div class="layout-grid layout-grid--{{collection_template}} d-grid" data-section-id="{{collection.id}}" data-section-type="collection-right-sidebar">
					<div id="main-layout">
						{%- section 'collection-template' -%}
					</div>
					{%- section 'collection-sidebar' -%}
				</div>
			{%- if isBoxed -%}</div>{%- endif -%}
		</div>
	{% comment %} end {% endcomment %}

	{%- when 'no-sidebar' -%}
		<div class="container-wrapper">
			{{filter_container}}
			{%- if isBoxed -%}<div class="container">{%- endif -%}

				<div class="layout-grid layout-grid--{{collection_template}}" data-section-id="{{collection.id}}" data-section-type="collection-no-sidebar">
					{%- section 'collection-sidebar' -%}
					<div id="main-layout">
						{%- section 'collection-template' -%}
					</div>
				</div>
			{%- if isBoxed -%}</div>{%- endif -%}

			{%- capture sectionCss -%}
				{%- render 'snippet-theme', type: 'productGridV2', sectionID: '#main-layout' -%}
			{%- endcapture -%}
			{%- assign sectionCss = sectionCss | strip_newlines -%}
			{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}
		</div>
	{% comment %} end {% endcomment %}

	{%- when 'infinite' -%}
		<div class="container-wrapper">
        
			{{filter_container}}
			{%- if isBoxed -%}<div class="container">{%- endif -%}
				<div class="layout-grid layout-grid--{{collection_template}}" data-section-id="{{collection.id}}" data-section-type="collection-infinite">
					{%- section 'collection-sidebar' -%}

					<div id="main-layout">
						{%- section 'collection-template' -%}
					</div>
				</div>
			{%- if isBoxed -%}</div>{%- endif -%}
		</div>
	{% comment %} end {% endcomment %}
{%- endcase -%}