{%- liquid
  if section.settings.boxed_layout or settings.page_layout == 'boxed'
    assign isBoxed = true
  endif
-%}
{%- liquid
  assign items_resp = section.settings.items_resp | default: '3,2,2'
  assign pageUrl = content_for_header | split:'"pageurl":"' | last | split:'"' | first | replace: '+', '%2B' | replace: '%26', '&#38;' | url_decode | replace: '&#38;', '%26' | replace:'\/','/' | prepend: 'https://' | remove: clear_canonical_url | replace:'\u0026', '&#38;' | replace:'%20', ' '
-%}

{%- liquid
   if pageUrl contains 'limit='
     assign limit = pageUrl | split: 'limit=' | last | split: '&' | first | strip | times: 1
   else
     assign limit = settings.collection_page_limit
   endif 
  if settings.collection_page == 'infinite' or template.suffix contains 'infinite'
    assign infiniteMode = true
  endif
-%}

{%- capture section_class -%}
  {{- -}}section-{{- section.id -}}
  {{- -}}|layout-{{- _layout -}}
  {{- -}}|product_style-grid
{%- endcapture -%}{%- assign section_class = section_class | strip | split: '|' | join: ' ' -%}

{%- paginate collection.products by limit -%}

  <div class="{{section_class}}">
    <div class="section_content-wrapper">

      <div class="section_content-head">
        {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
          {% render 'subcollection', items_resp: items_resp %}

          <div class="page-heading">
              <div class="collection-title">
                  {% if collection.title contains "[" %}
                    {% assign title = collection.title | split: '[' %}
                    <h1>{{ title.first }}</h1>
                  {% endif %}
                  {% comment %}
                    {%- if current_tags -%}
                        <h1>{{ collection.title }}/{{current_tags | join: '/'}}</h1>
                        <small>({{ collection.products_count  }})</small>
                    {%- else -%}
                        <h1>{{ collection.title }}</h1>
                        <small>({{ collection.all_products_count }})</small>
                    {%- endif -%}
                  {% endcomment %}
              </div>
          </div>

           {%- render 'collection-toolbar', defaultView: settings.collection_page_limit, paginate: paginate, items_resp: items_resp -%}

        {%- if _layout == 'boxed' -%}</div>{%- endif -%}
      </div>

      <div class="section_content-body">
        <div id="col-main">
          {%- if _layout == 'boxed' -%}<div class="container">{%- endif -%}
            
            <div class="{%- render 'grid-class' value: items_resp %} grid-gap-md-30 grid-gap-15" id="product-grid-container">
              {%- for product in collection.products -%}
                {%- render 'product-item' product: product -%}
              {%- endfor -%}
            </div>

            {%- if infiniteMode -%}
              <span class="js-infinite-btn" data-page="1" style="margin-top: 30px;">
                {%- render 'svg' type: 'is-loading' -%}
              </span>
            {%- else -%}
              <div class="js-colletion-pagination-container">
                {% comment %} {%- include 'pagination' -%} {% endcomment %}
              </div>
            {%- endif -%}
          {%- if _layout == 'boxed' -%}</div>{%- endif -%}
        </div>
      </div>
    </div>
  </div>
{% assign sp_paginate_by = paginate.page_size %}{%- endpaginate -%}


{%- capture sectionCss -%}
  {{- section_css -}}
{%- endcapture -%}
{%- assign sectionCss = sectionCss | strip_newlines -%}
{%- unless sectionCss == blank -%}<style>{{sectionCss}}</style>{%- endunless -%}

<script>
  window.theme = Object.assign(window.theme || {}, {
    collection: {
      suffix: "{{template.suffix}}",
      name: "{{collection.title}}",
      url: "{{collection.url}}",
      currentTags: [{%- for tag in current_tags -%}"{{tag | handle}}",{%- endfor -%}],
      notFound: "{{ 'collections.general.no_product' | t}}"
    }
  });

</script>
{% comment %} compress {% endcomment %}

{% if sp_paginate_by %}{% render 'spurit_po2_collection_template_snippet', paginate_by: sp_paginate_by %}{% endif %}{% schema %}
  {
    "name": {
      "en": "Collection page"
    },
    "tag": "section",
    "settings": [
      {
        "type": "checkbox",
        "id": "boxed_layout",
        "label": {
          "en": "Boxed layout"
        },
        "default": true
      },
      {
        "type": "text",
        "id": "items_resp",
        "label": {
          "en": "Max number of items per row"
        },
        "default": "4,3,2",
        "info": {
          "en": "E.g: 4,3,2"
        }
      }
    ]
  }
{% endschema %}