<div id="mobile-bar" class="mobile-bar d-lg-none" sytle="background-color: {{bg_color}};" data-section-id="{{ section.id }}"data-type="mobile-bar" data-section-type="mobile-bar">
  <div class="mobile-bar-content">
    <div class="mobile-bar_list">
      {%- for block in section.blocks -%}

          {%- case block.type -%}
            {%- when 'account' -%}
              <div class="mobile-bar_item {{block.type}}" {{block.shopify_attributes}}>
                {%- assign icon_type = block.settings.icon_type -%}

                {%- if icon_type == "image" -%}
                  <div class="image">{%- render 'image-style' image: block.settings.image -%}</div>
                {%- else -%}
                  {%- if block.settings.custom_icon != blank -%}
                    {{block.settings.custom_icon}}
                  {%- else -%}
                    <a href="{{routes.account_url}}">
                      {%- render 'svg' type: 'user' -%}
                    </a>
                  {%- endif -%}

                {%- endif -%}
              </div>
            {% comment %} end {% endcomment %}

            {%- when 'search' -%}
              <div class="mobile-bar_item {{block.type}}" {{block.shopify_attributes}}>
                {%- assign icon_type = block.settings.icon_type -%}
                <a href="#" onclick="return false" class="js-mobile-bar-open">
                  {%- if icon_type == "image" -%}
                    <div class="image">{%- render 'image-style' image: block.settings.image -%}</div>
                  {%- else -%}
                    {%- if block.settings.custom_icon != blank -%}
                      {{block.settings.custom_icon}}
                    {%- else -%}
                      {%- render 'svg' type: 'search' -%}
                    {%- endif -%}
                  {%- endif -%}
                </a>
              </div>
            {% comment %} end {% endcomment %}

            {%- when 'home' -%}
              <div class="mobile-bar_item {{block.type}}" {{block.shopify_attributes}}>
                {%- assign icon_type = block.settings.icon_type -%}
                <a href="{{routes.root_url}}">
                  {%- if icon_type == "image" -%}
                    <div class="image">{%- render 'image-style' image: block.settings.image -%}</div>
                  {%- else -%}
                    {%- if block.settings.custom_icon != blank -%}
                      {{block.settings.custom_icon}}
                    {%- else -%}
                      {%- render 'svg' type: 'home' -%}
                    {%- endif -%}
                  {%- endif -%}
                </a>
              </div>
            {% comment %} end {% endcomment %}

            {%- when 'wishlist' -%}
              {%- if settings.enable_product_wishlist and settings.wishlist_app != 'none' and shop.metafields.arena.wl_cp_settings.wishlist_settings.wishlist_enable -%}
                <div class="mobile-bar_item {{block.type}}" {{block.shopify_attributes}}>
                  {%- render 'wishlist_default_button' type: 'show', custom_icon: block.settings.custom_icon  -%}
                </div>
              {%- endif -%}
            {% comment %} end {% endcomment %}

            {%- when 'compare' -%}
              {%- if settings.enable_product_compare and settings.wishlist_app != 'none' and shop.metafields.arena.wl_cp_settings.compare_settings.compare_enable == true -%}
                <div class="mobile-bar_item {{block.type}}" {{block.shopify_attributes}}>
                  {%- render 'compare_default_button' type: 'show', custom_icon: block.settings.custom_icon -%}
                </div>
              {%- endif -%}
            {% comment %} end {% endcomment %}

            {%- when 'language-vs-currency' -%}
              <div class="mobile-bar_item {{block.type}}" {{block.shopify_attributes}}>
                {%- assign icon_type = block.settings.icon_type -%}

                {%- if icon_type == "image" -%}
                  <div class="image">{%- render 'image-style' image: block.settings.image -%}</div>
                {%- else -%}
                  {%- if block.settings.custom_icon != blank -%}
                    {{block.settings.custom_icon}}
                  {%- else -%}
                    <a href="#" onclick="document.dispatchEvent(new CustomEvent('open-modal-currencies-languages'));return false" class="language-vs-currency js-language-vs-currency-open">
                      {%- render 'svg' type: 'setting' -%}
                    </a>
                  {%- endif -%}

                {%- endif -%}
              </div>
            {% comment %} end {% endcomment %}
          {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
  {% comment %} {%- assign hasSearch = section.blocks | where: 'type', 'search' -%}
  {%- if hasSearch != blank -%}
    <div class="drawer drawer-right drawer-search js-search-container" id="drawer_search">
      <div class="drawer_overlay js-drawer-close"></div>
      <div class="drawer__header">
        {{ 'section.mobile_bar.search_drawer_header' | t}}
        <a href="#" onclick="return false" class="btn-close js-drawer-close">
          {%- render 'svg' type: 'close' -%}
        </a>
      </div>
      <form action="/search" class="form-search">
        <input type="hidden" value="{{settings.search_type}}" name="type">
        <input type="hidden" value="{{settings.search_unavailable_result}}" name="options[unavailable_products]">
        <input type="hidden" value="last" name="options[prefix]">

        <input type="text" class="js-search-input" name="q" placeholder="{{ 'section.header.search_placeholder' | t}}" autocomplete="off">
        <button type="submit" class="js-search-btn btn btn-1">
          {%- render 'svg' type: 'search' -%}
          {%- render 'svg' type: 'is-loading' -%}
        </button>
      </form>
      <div class="search-results">
        <div class="search-results_wrapper">
          <div class="js-search-results results">
            <a href="#" onclick="return false" class="btn-view-all">{{ 'general.search.view_all' | t}}</a>
          </div>
          <div class="no-result">{{ 'general.search.no_results' | t}}</div>
        </div>
      </div>
      {%- if settings.search_type contains 'article' -%}

      {%- else -%}
        <script type="application/template" class="js-search-template">
          {%- raw -%}
            {{#products.length}}
              <div class="results_product">
                <ul class="products">
                  {{#products}}
                    <li class="item">
                      <a href="{{url}}">
                        {{#image}}
                          <img src="{{image}}">
                        {{/image}}
                        <div class="info">
                          <p class="name">{{{title}}}</p>
                          <p class="price">{{{price}}}</p>
                        </div>
                      </a>
                    </li>
                  {{/products}}
                </ul>
              </div>
            {{/products.length}}
          {%- endraw -%}
        </script>
      {%- endif -%}
    </div>
  {%- endif -%} {% endcomment %}
</div>

<style>
  {%- liquid
    assign default_color  = 'rgba(0,0,0,0)'
    assign bg_color       = section.settings.bg_color | default: default_color
    assign content_color  = section.settings.content_color | default: default_color
    assign border_opacity = section.settings.border_opacity | times: 0.01
    assign border_color   = section.settings.border_color | color_modify: 'alpha', border_opacity | default: default_color
  -%}

  {%- if content_color != default_color -%}
    .mobile-bar .mobile-bar_item a{color: {{content_color}};}
    .mobile-bar .mobile-bar_list svg path {fill: currentColor;}
    .mobile-bar .mobile-bar_list svg{color: currentColor;}
  {%- endif -%}


  {%- if bg_color != default_color or border_color != default_color-%}
    .mobile-bar .mobile-bar_list{
      {%- if bg_color != default_color -%} background-color:{{bg_color}}; {%- endif -%}
      {%- if border_color != default_color -%}--body-border-color: {{border_color}}{%- endif -%}
    }
  {%- endif -%}

</style>

{% schema %}
  {
    "name": {
      "en": "Mobile bar"
    },
    "tag": "section",
    "max_blocks": 5,
    "settings": [
      {
        "type": "color",
        "id": "bg_color",
        "label": {
          "en": "Background color"
        }
      },
      {
        "type": "color",
        "id": "content_color",
        "label": {
          "en": "Content color"
        }
      },
      {
        "type": "header",
        "content": {
          "en": "Border between items"
        }
      },
      {
        "type": "color",
        "id": "border_color",
        "label": {
          "en": "Border color"
        }
      },
      {
        "type" : "range",
        "id": "border_opacity",
        "label": {
          "en" : "Opacity"
        },
        "step": 1,
        "min" : 0,
        "max" : 100,
        "unit" : "%",
        "default" : 100
      }
    ],
    "blocks": [
      {
        "type": "account",
        "name": {
          "en": "Account"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Block title"
            },
            "default": "Account"
          },
          {
            "type": "textarea",
            "id": "custom_icon",
            "label": {
              "en": "Custom icon"
            }
          }
        ]
      },
      {
        "type": "search",
        "name": {
          "en": "Search"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Block title"
            },
            "default": "Search"
          },
          {
            "type": "textarea",
            "id": "custom_icon",
            "label": {
              "en": "Custom icon"
            }
          }
        ]
      },
      {
        "type": "home",
        "name": {
          "en": "Home"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Block title"
            },
            "default": "Home"
          },
          {
            "type": "textarea",
            "id": "custom_icon",
            "label": {
              "en": "Custom icon"
            }
          }
        ]
      },
      {
        "type": "wishlist",
        "name": {
          "en": "Wishlist"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Block title"
            },
            "default": "Wishlist"
          },
          {
            "type": "textarea",
            "id": "custom_icon",
            "label": {
              "en": "Custom icon"
            }
          }
        ]
      },
      {
        "type": "compare",
        "name": {
          "en": "Compare"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Block title"
            },
            "default": "Compare"
          },
          {
            "type": "textarea",
            "id": "custom_icon",
            "label": {
              "en": "Custom icon"
            }
          }
        ]
      },
      {
        "type": "language-vs-currency",
        "name": {
          "en": "Language & currency"
        },
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": {
              "en": "Block title"
            },
            "default": "Language & currency"
          },
          {
            "type": "textarea",
            "id": "custom_icon",
            "label": {
              "en": "Custom icon"
            }
          }
        ]
      }
    ]
  }
{% endschema %}