
{% liquid
  assign default_link  = '#" onclick="return false'
  assign default_color = 'rgba(0,0,0,0)'

  assign isBoxed   = section.settings.boxed_layout
  assign bg_color  = section.settings.bg_color | default: default_color
  assign bg_image  = section.settings.bg_image
  assign bg_repeat = section.settings.bg_repeat
  assign bg_size   = section.settings.bg_size
  assign padding   = section.settings.grid_spc

  assign items_resp  = section.settings.items_resp | default: '5,3,2'
  assign slider_id   = '#slider-' | append: section.id
  assign controls_id = '#controls-' | append: section.id
  assign hide_mobile = section.settings.hide_mobile
  assign bg_position = section.settings.bg_position
  assign sectionID   = '#section-' | append: section.id
  assign logo_blocks = section.blocks | where: 'type', 'image'
  assign total_item  = logo_blocks.size
  assign heading     = section.settings.heading
  assign subheading  = section.settings.subheading

  assign heading_style_block  = section.blocks | where: 'type', 'heading-style' | first
  assign show_heading_section = section.settings.show_heading_section
%}

{%- if section.settings.bg_full -%}
  {%- capture bg_full -%}{%- render 'bgset' image: bg_image -%}{%- endcapture -%}
{%- else -%}
  {%- capture bg_boxed -%}{%- render 'bgset' image: bg_image -%}{%- endcapture -%}
  {%- assign bg_class = ' .section-wrapper' -%}
{%- endif -%}

{%- capture section_class -%}
  logo-list {% if hide_mobile %}d-none d-lg-block{% endif %} style-{{section.settings.style}} {{bg_full}}
{%- endcapture -%}

{%- if show_heading_section and heading != blank or subheading != blank -%}
  {%- capture heading_css -%}
    {%- render 'snippet-heading-css' sectionID: sectionID, section: heading_style_block -%}
  {%- endcapture -%}
  {%- capture heading_section -%}
    <div class="section_content-head">
      {%- render 'snippet-heading' config: section.settings -%}
    </div>
  {%- endcapture -%}
{%- endif -%}

{%- capture blocks_content -%}
  {%- for block in logo_blocks -%}
    <div class="slider-item logo-item" data-block-id="{{block.id}}" {{block.shopify_attributes}}>
      {%- liquid
        assign image = block.settings.image
        assign svg   = block.settings.svg
      -%}
      {%- case block.settings.type -%}
        {%- when 'image' -%}
          <a draggable="false" href="{{block.settings.link | default: '#' | replace: '#', default_link}}" class="image">
            {%- if image != blank -%}
              {% render 'image-style' image: image, originQuality: true %}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag }}
            {%- endif -%}
          </a>
        {%- when 'svg' -%}
          <a draggable="false" href="{{block.settings.link | default: '#' | replace: '#', default_link}}" class="svg">
            {%- if svg != blank -%}
              {{block.settings.svg}}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag }}
            {%- endif -%}
          </a>
      {%- endcase -%}
    </div>
  {%- else -%}
    {%- assign total_item = 8 -%}
    {%- for i in (1..8) -%}
      <div class="slider-item logo-item">
        {%- case block.settings.type -%}
          <a class="image">{{ 'image' | placeholder_svg_tag }}</a>
        {%- endcase -%}
      </div>
    {%- endfor -%}
  {%- endfor -%}
{%- endcapture -%}

{%- capture tns_config -%}
  {%- render 'set-tns-config'
    slider_id       : slider_id,
    controls_id     : controls_id,
    items_resp      : items_resp,
    loop            : section.settings.loop,
    controls        : section.settings.controls,
    dots            : section.settings.dots,
    autoplay        : section.settings.autoplay,
    autoplay_timeout: section.settings.autoplay_timeout,
    padding         : padding,
    total_item      : total_item,
    classID         : sectionID
    -%}
{%- endcapture -%}

<div class="{{section_class}}" id="section-{{section.id}}" data-section-id="{{section.id}}" data-section-type="logo-list">
  {% if isBoxed %}<div class="container">{%- endif -%}
    <div class="section-wrapper logo-list_wrapper {{bg_boxed}}">
      {%- case section.settings.style -%}
        {%- when '1' -%}
          {{heading_section}}

          <div class="section_content-body">
            <div class="slider-container js-slider-container">
              <div class="slider-wrapper">
                <div class="slider-list js-slider-list logo-list_content" id="slider-{{section.id}}">
                  {{blocks_content}}
                </div>
                {{tns_config}}
              </div>
            </div>
          </div>
        {% comment %} end {% endcomment %}

        {%- when '2' -%}
          <div class="row">
            {%- if heading_section != blank -%}
              <div class="col-12 col-lg-6">
                {{heading_section}}
              </div>
              <div class="col-12 col-lg-6 d-flex align-items-center">
                <div class="section_content-body w-100">
                  <div class="slider-container js-slider-container">
                    <div class="slider-wrapper">
                      <div class="slider-list logo-list_content" id="slider-{{section.id}}">
                        {{blocks_content}}
                      </div>
                      {{tns_config}}
                    </div>
                  </div>
                </div>
              </div>
            {%- else -%}
              <div class="col-12">
                <div class="section_content-body">
                  <div class="slider-container js-slider-container">
                    <div class="slider-wrapper">
                      <div class="slider-list logo-list_content" id="slider-{{section.id}}">
                        {{blocks_content}}
                      </div>
                      {{tns_config}}
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}
          </div>
        {% comment %} end {% endcomment %}
      {%- endcase -%}

    </div>
  {% if isBoxed %}</div>{%- endif -%}
</div>

{%- capture bg_css -%}
  {%- if bg_image != blank -%}background-size:{{bg_size}};background-position:{{bg_position}};background-repeat:{{bg_repeat}};{%- endif -%}
  {%- if bg_color != default_color -%}background-color:{{bg_color}};{%- endif -%}
{%- endcapture -%}

{%- style -%}
  {{section_css}}
  {{heading_css}}
  {%- if bg_css != blank -%}{{sectionID}} {{bg_class}}{ {{bg_css}}}{%- endif -%}
  {%- render 'css-responsive' preClassID: sectionID, classID: bg_class,
    value_1: section.settings.section_margin, property_1: 'margin'
    value_2: section.settings.section_padding, property_2: 'padding'
    -%}
{%- endstyle -%}

<script>
  window.theme = window.theme || {};
  if(!!window.theme.sectionRegister){
    !window.theme.sectionRegister.includes('logo-list') && (window.theme.sectionRegister = [...window.theme.sectionRegister, "logo-list"]);
  }else{
    window.theme.sectionRegister = ["logo-list"];
  }
</script>

{% comment %} compress {% endcomment %}

{% schema %}
{
  "name": {
    "en": "Logo List"
  },
  "tag": "section",
  "max_blocks": 20,
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Please see [instruction](https://support.arenacommerce.com/a/solutions/articles/6000247982) before use."
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "Created by 'Logo List' section"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "General settings"
      }
    },
    {
      "id": "title",
      "type": "text",
      "label": {
        "en": "Section Label"
      },
      "default": "Logo List"
    },
    {
      "type": "checkbox",
      "id": "hide_mobile",
      "label": {
        "en": "Hidden on mobile devices"
      }
    },
    {
      "type": "checkbox",
      "id": "boxed_layout",
      "label": {
        "en": "Boxed layout"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "section_margin",
      "label": {
        "en": "Section Margin"
      },
      "placeholder": {
        "en": "E.g: 20px 0px 20px 0px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "text",
      "id": "section_padding",
      "label": {
        "en": "Section padding"
      },
      "placeholder": {
        "en": "E.g: 20px 0px 20px 0px"
      },
      "info": {
        "en": "Order: Top Right Bottom Left"
      }
    },
    {
      "type": "select",
      "id": "style",
      "label": {
        "en": "Style"
      },
      "options": [
        {
          "value": "1",
          "label": {
            "en": "1"
          }
        },
        {
          "value": "2",
          "label": {
            "en": "2"
          }
        }
      ]
    },
    {
      "type": "text",
      "id": "items_resp",
      "label": {
        "en": "Max number of items per row"
      },
      "default": "5,3,2",
      "placeholder": {
        "en": "E.g: 2,1"
      }
    },
    {
      "type": "text",
      "id": "grid_spc",
      "label": {
        "en": "Item spacing"
      },
      "default": "10px",
      "placeholder": {
        "en": "E.g: 10px"
      }
    },
    {
      "type": "header",
      "content": {
        "en": "Background"
      }
    },
    {
      "type": "checkbox",
      "id": "bg_full",
      "label": {
        "en": "Full section background"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": {
        "en": "Background color"
      },
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": {
        "en": "Background image"
      }
    },
    {
      "type": "select",
      "id": "bg_size",
      "label": {
        "en": "Background size"
      },
      "options": [
        {
          "value": "auto",
          "label": {
            "en": "Auto"
          }
        },
        {
          "value": "cover",
          "label": {
            "en": "Cover"
          }
        },
        {
          "value": "contain",
          "label": {
            "en": "Contain"
          }
        }
      ],
      "default": "auto"
    },
    {
      "type": "select",
      "id": "bg_repeat",
      "label": {
        "en": "Background repeat"
      },
      "options": [
        {
          "value": "no-repeat",
          "label": {
            "en": "No repeat"
          }
        },
        {
          "value": "repeat",
          "label": {
            "en": "Repeat"
          }
        },
        {
          "value": "repeat-x",
          "label": {
            "en": "Repeat X"
          }
        },
        {
          "value": "repeat-y",
          "label": {
            "en": "Repeat Y"
          }
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": {
        "en": "Background position"
      },
      "options": [
        {
          "value": "left top",
          "label": {
            "en": "Left Top"
          }
        },
        {
          "value": "left center",
          "label": {
            "en": "Left Center"
          }
        },
        {
          "value": "left bottom",
          "label": {
            "en": "Left Bottom"
          }
        },
        {
          "value": "right top",
          "label": {
            "en": "Right Top"
          }
        },
        {
          "value": "right center",
          "label": {
            "en": "Right Center"
          }
        },
        {
          "value": "right bottom",
          "label": {
            "en": "Right Bottom"
          }
        },
        {
          "value": "center top",
          "label": {
            "en": "Center Top"
          }
        },
        {
          "value": "center center",
          "label": {
            "en": "Center Center"
          }
        },
        {
          "value": "center bottom",
          "label": {
            "en": "Center Bottom"
          }
        }
      ],
      "default": "center center"
    },
    {
      "type": "header",
      "content": {
        "en": "Heading Section"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "To custom style. Please add block '[+] Heading Style"
      }
    },
    {
      "type": "checkbox",
      "id": "show_heading_section",
      "label": {
        "en": "Show"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default": "Lorem ipsum dolor sit."
    },
    {
      "type": "text",
      "id": "subheading",
      "label": {
        "en": "Subheading"
      },
      "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit."
    },
    {
      "type": "header",
      "content": {
        "en": "Slider settings"
      }
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": {
        "en": "Loop"
      }
    },
    {
      "type": "checkbox",
      "id": "dots",
      "label": {
        "en": "Dots"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "controls",
      "label": {
        "en": "Controls"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": {
        "en": "Autoplay"
      }
    },
    {
      "type": "range",
      "id": "autoplay_timeout",
      "label": {
        "en": "Auto switch slide"
      },
      "step": 0.5,
      "min": 2,
      "max": 10,
      "unit": "s",
      "default": 4
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "en": "Image"
      },
      "settings": [
        {
          "type": "select",
          "id": "type",
          "label": {
            "en": "Type"
          },
          "options": [
            {
              "value": "image",
              "label": {
                "en": "Image"
              }
            },
            {
              "value": "svg",
              "label": {
                "en": "SVG"
              }
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": {
            "en": "Image"
          }
        },
        {
          "type": "html",
          "id": "svg",
          "label": {
            "en": "SVG"
          },
          "info": {
            "en": "Please enter SVG code."
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "en": "Link"
          }
        }
      ]
    },
    {
      "type": "heading-style",
      "limit" : 1,
      "name": {
        "en": "[+] Heading Style"
      },
      "settings": [
        {
          "type": "text",
          "id": "section_heading_margin",
          "label": {
            "en": "Margin"
          },
          "placeholder": {
            "en": "E.g: 20px 0px 20px 0px "
          },
          "info": {
            "en": "Order: Top Right Bottom Left"
          },
          "default": "0 0 30px 0"
        },
        {
          "type": "select",
          "id": "section_heading_align",
          "label": {
            "en": "Alignment"
          },
          "options": [
            {
              "value": "left",
              "label": {
                "en": "Left"
              }
            },
            {
              "value": "center",
              "label": {
                "en": "Center"
              }
            },
            {
              "value": "right",
              "label": {
                "en": "Right"
              }
            }
          ],
          "default": "center"
        },
        {
          "type": "header",
          "content": {
            "en": "Heading settings"
          }
        },
        {
          "type": "color",
          "id": "section_heading_cl",
          "label": {
            "en": "Text color"
          },
          "default": "#103178"
        },
        {
          "type": "text",
          "id": "section_heading_fs",
          "label": {
            "en": "Font size"
          },
          "default": "40px",
          "placeholder": {
            "en": "E.g: 40px"
          }
        },
        {
          "type": "range",
          "id": "section_heading_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 600
        },
        {
          "type": "text",
          "id": "section_heading_lh",
          "label": {
            "en": "Line height"
          },
          "default": "60px",
          "placeholder": {
            "en": "E.g: 60px"
          }
        },
        {
          "type": "header",
          "content": {
            "en": "Subheading settings"
          }
        },
        {
          "type": "color",
          "id": "section_subheading_cl",
          "label": {
            "en": "Text color"
          },
          "default": "#5B6C8F"
        },
        {
          "type": "text",
          "id": "section_subheading_fs",
          "label": {
            "en": "Font size"
          },
          "default": "24px",
          "placeholder": {
            "en": "E.g: 24px"
          }
        },
        {
          "type": "range",
          "id": "section_subheading_fw",
          "label": {
            "en": "Font weight"
          },
          "min": 100,
          "max": 900,
          "step": 100,
          "default": 400
        },
        {
          "type": "text",
          "id": "section_subheading_lh",
          "label": {
            "en": "Line height"
          },
          "default": "35px",
          "placeholder": {
            "en": "E.g: 35px"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "Logo List"
      },
      "category": "Banner",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
