{%- liquid
  assign default_color = 'rgba(0,0,0,0)'
  assign image    = section.settings.image
  assign heading  = section.settings.heading
  assign form_url = section.settings.form_url
  assign form_type  = section.settings.form_type
  assign subheading = section.settings.subheading
  assign social_icon_color = section.settings.social_icon_color
  assign social_icon_hover_color = section.settings.social_icon_hover_color
-%}
<div data-section-id="{{section.id}}" data-section-type="newsletter">
  <div class="modal modal-newsletter" id="modal_newsletter">
    <div class="modal_wrapper">

      <div class="modal_overlay js-modal-close"></div>

      <div class="modal_box">

        <div class="modal_content">
          <div class="image">
            {%- if image != blank -%}
              {%- render 'image-style' image: image -%}
            {%- else -%}
              {{ 'image' | placeholder_svg_tag }}
            {%- endif -%}
          </div>
          <div class="content">
            <div class="heading">{{heading}}</div>
            <div class="subheading">{{subheading}}</div>
            <div class="newsletter-form">
              {%- render 'subscribe-form'
                form_id: 'newsletter_form'
                successful_message: section.settings.successful_message
                type: form_type, url:
                form_url, btnStyle: section.settings.btn_style, enable_ajax: section.settings.enable_ajax -%}
            </div>
            {%- if section.settings.enable_social -%}
              <div class="social">{%- render 'social-media-icons' type: section.settings.social_icon_type -%}</div>
              <style>
                {%- if social_icon_color != default_color -%}
                  #modal_newsletter .social svg{color: {{social_icon_color}}}
                {%- endif -%}
                {%- if social_icon_hover_color != default_color -%}
                  #modal_newsletter .social svg:hover{color: {{social_icon_hover_color}}}
                {%- endif -%}
              </style>
            {%- endif -%}
          </div>
        </div>

        <button type="button" class="js-modal-close modal_close" title="{{ 'section.popup.close' | t}}">{%- render 'svg' type: 'close' -%}</button>

      </div>

    </div>
  </div>
  <script type="application/json" data-settings>
    {
      "delayTime": {{section.settings.delay_time | times: 1000}},
      "scrollPosition": {{section.settings.scroll_position}},
      "expires": {{section.settings.expires}},
      "style": "{{section.settings.newletter_style}}"
    }
  </script>
</div>

{% schema %}
{
  "name": {
    "en": "Newsletter"
  },
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": {
        "en": "Please see [instruction](https://support.arenacommerce.com/a/solutions/articles/6000248178) before use."
      }
    },
    {
      "type": "select",
      "id": "newletter_style",
      "label" : {
        "en" : "Style"
      },
      "options": [
       {
          "value": "delay",
          "label": "Time on page"
       },
       {
         "value": "exit-intent",
         "label": {
           "en" : "Exit Intent - Triggered Popups"
         }
       },
       {
         "value": "scroll",
         "label": {
           "en" : "Scroll - Triggered Popups"
         }
       }
      ]
    },
    {
      "type" : "range",
      "id": "delay_time",
      "label": {
        "en" : "Delay time"
      },
      "step": 0.5,
      "min" : 1,
      "max" : 10,
      "unit" : "s",
      "default" : 5
    },
    {
      "type" : "range",
      "id": "scroll_position",
      "label": {
        "en" : "Show when scrolling to position"
      },
      "info": {
        "en" : "Calculated from top of site"
      },
      "step": 100,
      "min" : 100,
      "max" : 1500,
      "unit" : "px",
      "default" : 500
    },
    {
      "type" : "range",
      "id": "expires",
      "label": {
        "en" : "Expires"
      },
      "step": 1,
      "min" : 1,
      "max" : 10,
      "unit" : "Day",
      "default" : 3
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": {
        "en": "Image"
      }
    },
    {
      "type": "text",
      "id": "heading",
      "label": {
        "en": "Heading"
      },
      "default" : "Newsletter"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "label": {
        "en": "Subheading"
      },
      "default": "Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore minus illum praesentium sed alias quia! Itaque suscipit maxime at quos!"
    },
    {
      "type": "header",
      "content": {
        "en": "Form settings"
      }
    },
    {
      "type" : "checkbox",
      "id" : "enable_ajax",
      "label" : {
        "en" : "Enable Ajax"
      },
      "default": true
    },
    {
      "type": "select",
      "id": "form_type",
      "label": {
        "en": "Type"
      },
      "options": [
        {
          "value": "shopify",
          "label": {
            "en": "Shopify"
          }
        },
        {
          "value": "klaviyo",
          "label": {
            "en": "Klaviyo"
          }
        },
        {
          "value": "mailchimp",
          "label": {
            "en": "Mailchimp"
          }
        }
      ]
    },
    {
      "type": "paragraph",
      "content": {
        "en": "Mailchimp: [Where do I get my MailChimp Form Action](https://www.arenacommerce.com/blogs/faq/shopify-theme-how-to-get-a-mailchimp-form-action-url)"
      }
    },
    {
      "type": "paragraph",
      "content": {
        "en": "KLAVIYO: [Sign up](https://www.klaviyo.com/partner/signup?utm_source=0010V00002PVTlf&utm_medium=partner)"
      }
    },
    {
      "type" : "textarea",
      "id" : "form_url",
      "label" : {
        "en" : "Form Url"
      }
    },
    {
      "type": "textarea",
      "id": "successful_message",
      "label": {
        "en" : "Successful message"
      },
      "info": "Only form type is 'Shopify'",
      "default" : "Thanks for subscribing!"
    },
    {
      "type": "select",
      "id": "btn_style",
      "label" : {
        "en" : "Button style"
      },
      "options": [
       {
          "value": "1",
          "label": {
            "en": "1"
          }
       },
       {
         "value": "2",
         "label": {
           "en": "2"
         }
       },
       {
         "value": "3",
         "label": {
           "en": "3"
         }
       }
      ],
      "default" : "1"
    },
    {
      "type": "header",
      "content": {
        "en": "Social Media"
      }
    },
    {
      "type": "checkbox",
      "id": "enable_social",
      "label": {
        "en": "Enable"
      },
      "default" : true
    },
    {
      "type": "select",
      "id": "social_icon_type",
      "label" : "Icon type",
      "options": [
       {
          "value": "",
          "label": "Default"
       },
       {
         "value": "-square",
         "label": "Square"
       },
       {
         "value": "-circle",
         "label": "Circle"
       }
      ]
    },
    {
      "type": "color",
      "id": "social_icon_color",
      "label": {
        "en" : "Color"
      }
    },
    {
      "type": "color",
      "id": "social_icon_hover_color",
      "label": "Hover color"
    }
  ]
}
{% endschema %}