
{%- liquid
  if settings.page_layout == 'boxed'
    assign is_boxed = true
  endif
  assign _total = settings.search_page_total | default: 20 | abs
-%}
{%- capture keyWord -%}{{search.terms | escape}}{%- endcapture -%}

<div class="page page-search">
  <div class="page_wrapper">
    {%- if is_boxed -%} <div class="container"> {%- endif -%}
      {%- if search.results_count > 0 -%}
        <h2 class="page_title text-center">{{ 'search.general.result_title' | t: number: search.results_count, keyword: search.terms}}</h2>
      {%- else -%}
        <h2 class="page_title text-center">{{ 'search.general.no_result' | t:  keyword: search.terms}}</h2>
      {%- endif -%}

      <div class="page_search-form">
        <form action="{{routes.search_url}}">
          <input type="hidden" name="type" value="{{settings.search_type}}">
          <input type="hidden" name="optons[unavailable_products]" value="{{settings.search_unavailable_result}}">
          <input type="hidden" name="options[prefix]" value="last">
          <div class="form-group">
            <input type="text" name="q" value="{{search.terms}}">
            <button type="submit" class="btn btn-1">{%- render 'svg' type: 'search' -%}</button>
          </div>
        </form>
      </div>

      {%- case settings.search_type -%}
        {%- when 'product' -%}
          <div class="page_search-results">
            <div class="search-type product-type">
              {%- paginate search.results by _total -%}
                <div class="{%- render 'grid-class' value: settings.search_page_number_per_row %} grid-gap-15 grid-gap-md-30">
                  {%- for product in search.results -%}
                    <div class="product-item">
                      {%- render 'product-item' product: product -%}
                    </div>
                  {%- endfor -%}
                </div>
                {%- include 'pagination' -%}
              {%- endpaginate -%}

            </div>
          </div>
        {%- else -%}
          {%- liquid
            assign product_results = search.results | where: 'object_type', 'product'
            assign article_results = search.results | where: 'object_type', 'article'
            assign page_results = search.results | where: 'object_type', 'page'
          -%}
          <div class="page_search-results">
            {%- if product_results.size > 0 -%}
              <div class="search-type product-type">
                <h2 class="search-type_title">{{ 'search.general.products' | t}}</h2>
                <div class="{%- render 'grid-class' value: settings.search_page_number_per_row %} grid-gap-15 grid-gap-md-30">
                  {%- for product in product_results by setings.search_limit -%}
                    <div class="product-item">
                      {%- render 'product-item' product: product -%}
                    </div>
                  {%- endfor -%}
                </div>
                {%- if search.results.size >= 10 -%}
                  <form action="{{routes.search_url}}">
                    <input type="hidden" name="type" value="product">
                    <input type="hidden" name="view" value="product">
                    <input type="hidden" name="optons[unavailable_products]" value="{{settings.search_unavailable_result}}">
                    <input type="hidden" name="options[prefix]" value="last">
                    <div class="form-group">
                      <input type="hidden" name="q" value="{{search.terms}}">
                      <button type="submit" class="btn btn-1 w-100" style="margin-top: 10px;">{{ 'general.search.view_all' | t}}</button>
                    </div>
                  </form>
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- if article_results.size > 0 -%}
              <div class="search-type article-type">
                <h2 class="search-type_title">{{ 'search.general.articles' | t}}</h2>
                <div class="{%- render 'grid-class' value: settings.search_page_number_per_row %} grid-gap-15 grid-gap-md-30">
                  {%- for article in article_results by setings.search_limit -%}
                    <div class="article-item">
                      {%- render 'article-item' article: article, imagePadding: '55%' -%}
                    </div>
                  {%- endfor -%}
                </div>
                {%- if search.results.size >= 10 -%}
                  <form action="{{routes.search_url}}">
                    <input type="hidden" name="type" value="article">
                    <input type="hidden" name="view" value="article">
                    <div class="form-group">
                      <input type="hidden" name="q" value="{{search.terms}}">
                      <button type="submit" class="btn btn-1 w-100" style="margin-top: 10px;">{{ 'general.search.view_all' | t}}</button>
                    </div>
                  </form>
                {%- endif -%}
              </div>
            {%- endif -%}

          </div>
      {%- endcase -%}

    {%- if is_boxed -%} </div> {%- endif -%}
  </div>
</div>
{%- style -%}
  .search-type_title{
    padding: 15px 0px;
  }
  .page_search-results .search-type{
    padding-bottom: 15px;
  }
{%- endstyle -%}
{% comment %} compress {% endcomment %}